@import url("http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya")

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
#sidebar {
  color: #fff;
  background-color: #07b2ac!important;
  width: 33%;
  height: 100%;
  left-margin: 0px!important;
  position: fixed;
}
h1 {
  font-family: Roboto;
}
#root {
  margin: 0;
  padding: 0;

}

#main {
  background-color: blue;
  width: 66%;
  float: right;
  left: 0;
  overflow: hidden;
  clear: both;
  display: block;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.leftCol{
  left:0;
  position: relative;
}

.no-space{
  margin-top: 0;
  padding: 0;
  width: 100%;
}

.show-grid {
  width: 60%;
  float: right;
  left: 0;
  overflow: hidden;
  clear: both;
  display: block;
  margin: 0;

}
.rightCol{
  right: 0;
  position: relative;
}f

.thumbnail {
  background-color: white;
}

.thumbnail:hover {
  cursor: pointer;  
}

.locationIcon{
  width:50px;
  height:auto;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
