@import url("http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya");
body {
  font-family: 'Hasklig ExtraLight', 'Roboto', Roboto!important;
}
p {
  font-size: 12px;
  font-family: 'Helvetica';
}

h3 {
  font-family: 'Hasklig ExtraLight', 'Roboto', Roboto!important;
}

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
#sidebar {
  color: #fff;
  background-color: #07b2ac!important;
  width: 33%;
  height: 100%;
  padding: 5% !important;
  position: fixed;
  left:0;
}

#root {
  margin: 0;
  padding: 0;
}

#main {
  top: 1em;
  background-color: blue;
  left: 0;
  overflow: hidden;
  clear: both;
  display: block;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color:   white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.leftCol{
  left:0;
  position: relative;
}

.rightCol{
  right: 0;
  position: relative;
}

.thumbnail {
  background: white;
  border: none;

}

.thumbnail:hover {
  cursor: pointer; 
  background-color: rgb(255, 255, 255, 0.6); 
}

.show-grid {
  margin-top: 1em;
  right:2em;
  position:absolute;
  width: 60%;
}

.locationIcon{
  width:100%;
  height:auto;
}

#bannerpic {
  width:100%;
  height: auto;
}

#bannerSpot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
