@import url("http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya");

.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
#sidebar {
  color: #fff;
  background-color: #07b2ac!important;
  width: 33%;
  height: 100%;
  padding: 5% !important;
  position: fixed;
  left:0;
}
h1 {
  font-family: Roboto;
}
#root {
  margin: 0;
  padding: 0;
}

#main {
  background-color: blue;
  left: 0;
  overflow: hidden;
  clear: both;
  display: block;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color:   white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.leftCol{
  left:0;
  position: relative;
}

.no-space{
  margin-top: 0;
  padding: 0;
  width: 100%;
}

.rightCol{
  right: 0;
  position: relative;
}f

.thumbnail {
  background-color: white;
}

.thumbnail:hover {
  cursor: pointer;  
}

.show-grid {
  right:2em;
  position:absolute;
  width: 60%;
}

.locationIcon{
  width:100%;
  height:auto;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
